<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @shipment.id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @shipment.code %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @shipment.sender %>
</p>

<p>
  <strong>Tracking:</strong>
  <%= @shipment.tracking %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shipment.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shipment.status %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @shipment.carrier %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @shipment.amount %>
</p>

<p>
  <strong>Packages:</strong>
  <%= @shipment.packages %>
</p>

<p>
  <strong>Product:</strong>
  <%= @shipment.product %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @shipment.weight.round(2) %>
</p>

<p>
  <strong>Length:</strong>
  <%= @shipment.length.round(2) %>
</p>

<p>
  <strong>Width:</strong>
  <%= @shipment.width.round(2) %>
</p>

<p>
  <strong>Height:</strong>
  <%= @shipment.height.round(2) %>
</p>

<p>
  <strong>Volumetric weight:</strong>
  <%= @shipment.volumetric_weight.round(2) %>
</p>

<p>
  <strong>Shipment:</strong>
  <%= @shipment.shipment %>
</p>

<p>
  <strong>Note:</strong>
  <%= @shipment.note %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
